html {
  width: 100%;
}

body {
  min-width: 1790px;
}
@media screen and (max-width: 1789px) {
  body {
    min-width: 1789px;
  }
}
@media screen and (max-width: 1549px) {
  body {
    min-width: 760px;
  }
}
@media screen and (max-width: 750px) {
  body {
    min-width: 750px;
  }
}

/* 版心容器 */
.container {
  max-width: 1400px;
  margin: 0 auto;
}

/* 文章容器(带阴影) */
.article_shadow {
  border-radius: 4px;
  box-shadow: 0 0 16px -10px #1a1b1b7e;
  padding: 58px;
  background-color: #fff;
}

.main {
  padding: 50px 0;
}
